.producto{
    margin-top: 80%;
}
.col img{
    padding: 0;
}
.col{
    padding: 20px;
}
.producto h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.producto select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.producto input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
li{
    list-style: none;
}