ul{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   list-style-type: none;
   
}

li {
    text-decoration: none;
}

header{
    background-color: rgb(147, 144, 144);
}
body{
background-color: bisque;
}
